
mat-card{
  max-width: 80%;
  margin: 2em auto;
  display: block;
  text-align: center;
}


.loading-spinner{
  padding: 25px;
  background: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}


$primary-color: #880E4F;
$white-text-color: white;

.bg-pink-toolbar{
  background-color: $primary-color;
  color: $white-text-color;
  border-radius: 5px 5px 0px 0px;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.card-content {
  padding: 20px;
  background-color: rgb(222, 212, 213);
}



