
<mat-card class="matCardMargin">
  <mat-toolbar class="bg-pink-toolbar">
    Course Details:
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field class="form-field-margin full-width first-field">
        <mat-label>Name:</mat-label>
        <input matInput placeholder="Enter name: " formControlName="name"#name>

        <mat-hint align="end">{{name.value.length || 0}}/100</mat-hint>
      </mat-form-field>

      <mat-error *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
        {{ formUtils.getErrorMessage(form, 'name') }}
      </mat-error>

      <mat-form-field class="form-field-margin full-width first-field">
        <mat-label>Category:</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
          <mat-option value="Data">Data</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="form.get('category')?.invalid && (form.get('category')?.touched || form.get('category')?.dirty)">
        {{ formUtils.getErrorMessage(form, 'category') }}
      </mat-error>


      <mat-toolbar>
        <span>Lessons: </span>
        <button mat-icon-button class="add-btn" (click)="addNewLesson()">
          <mat-icon aria-label="Adding new lesson" class="add-btn-icon">add</mat-icon>
        </button>
      </mat-toolbar>


      <mat-error *ngIf="formUtils.isFormArrayRequired(form, 'lessons')" class="form-array-error">
        Add at least one class.
      </mat-error>


      <table style="width: 100%"
        formArrayName="lessons"
        *ngFor="let lesson of getLessonsFormArray(); let i = index">
        <th></th>

        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Lesson's name: </mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="getLessonsFormArray()[i].get('name')?.invalid">
                {{ formUtils.getFormArrayFieldErrorMessage(form, "lessons", 'name', i) }}
              </mat-error>
            </mat-form-field>

          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>URL: </mat-label>
              <input matInput formControlName="youtubeUrl">
              <mat-error *ngIf="getLessonsFormArray()[i].get('youtubeUrl')?.invalid">
                {{ formUtils.getFormArrayFieldErrorMessage(form, "lessons", 'youtubeUrl', i) }}

              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button class="remove-btn" (click)="removeLesson(i)">
          <mat-icon aria-label="Remove lesson" class="remove-btn-icon">delete</mat-icon>
        </button>
          </td>
        </tr>
      </table>


    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="save-button" (click)="onSubmit()">Save</button>
    <button mat-raised-button class="cancel-button" (click)="onCancel()" >Cancel</button>
  </mat-card-actions>

</mat-card>






