<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category:</mat-label>
    <mat-select formControlName="category">
      </mat-select>
  </mat-form-field>

  <div formArrayName="lessons">
    <table>
      <thead>
        <tr>
          <th style="width: 950px;">Name</th>
          <th style="width: 550px;">URL</th>
          <th>Actions</th> </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lessonControl of getLessonsFormArray(); let i = index" [formGroupName]="i">
          <td>
            <mat-form-field class="form-field-margin full-width first-field">
              <mat-label>Name: </mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="form-field-margin full-width first-field">
              <mat-label>URL: </mat-label>
              <input matInput formControlName="youtubeUrl">
            </mat-form-field>
          </td>

        </tr>
        <tr *ngIf="getLessonsFormArray().length === 0">
            <td colspan="3" style="text-align: center;">No lessons added yet. Click '+' to add one.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
</form>
